@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP',
    sans-serif;
}

body {
  background-color: #3f3f3f;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}