.centerFixed {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.modal {
  width: 90%;
  max-height: 80vh;
  overflow-y: scroll;
  max-width: 64rem;
  z-index: 100;
  background-color: #fff;
  animation: animateFromTop .5s linear forwards;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .75);
  z-index: 70;
}

@keyframes animateFromTop {
  from {
    top: 40%;
    opacity: 0;
  }

  to {
    top: 50%;
    opacity: 1;
  }
}